/*
  Custom CSS
*/
/*
  Use the body padding-top below 
  Only if you decide to have your
  top navigation fixed-top 
*/


/* 
  ALPHA 0.1 
*/
  Width
*/
.full-w{
  width: 100%!important;
  max-width: 100%!important;
}


/*
  Horizontal Align
*/
.text-center{
  text-align: center!important;
}
.text-left{
  text-align: left!important;
}
.text-right{
  text-align: right!important;
}
.text-center-md{
  text-align: center!important;
}
.text-center-sm{
  text-align: center!important;
}
.text-center-xs{
  text-align: center!important;
}
.text-l-md{
  text-align: left!important;
}
.text-l-sm{
  text-align: left!important;
}
.text-l-xs{
  text-align: left!important;
}
.text-r-md{
  text-align: right!important;
}
.text-r-sm{
  text-align: right!important;
}
.text-r-xs{
  text-align: right!important;
}


/*
  Font
*/
.font-white{
  color:#fafafa;
}
.font-12{
  font-size: 12px!important;
}
.font-13{
  font-size: 13px!important;
}
.font-14{
  font-size: 14px!important;
}
.font-16{
  font-size: 10px!important;
}
.font-18{
  font-size: 18px!important;
} 
.font-20{
  font-size: 20px!important;
} 
.font-22{
  font-size: 22px!important;
}
.font-25{
  font-size: 25px!important;
} 
.font-28{
  font-size: 28px!important;
} 
.font-30{
  font-size: 30px!important;
} 
.font-32{
  font-size: 32px!important;
}
.font-35{
  font-size: 35px!important;
} 

.font-b{
  font-weight: bold;
}
.font-n{
  font-weight: normal;
}


/*
  Button
*/

/*
  Opacity
*/
.op-03{
  opacity: 0.3;
}
.op-05{
  opacity: 0.5;
}
.op-07{
  opacity: 0.7;
}
.op-08{
  opacity: 0.8;
}
.op-1{
  opacity: 1.0;
}


/*
  Padding
*/

.pad-0{
  padding: 0!important;
}
.pad-2{
  padding: 2px!important;
}
.pad-5{
  padding: 5px!important;
}
.pad-10{
  padding: 10px!important;
}
.pad-12{
  padding: 12px!important;
}
.pad-15{
  padding: 15px!important;
}
.pad-17{
  padding: 17px!important;
}
.pad-20{
  padding: 20px!important;
}
.pad-22{
  padding: 22px!important;
}
.pad-25{
  padding: 25px!important;
}
.pad-30{
  padding: 10px!important;
}

.pad-y-0{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.pad-y-5{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.pad-y-10{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.pad-y-15{
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.pad-y-20{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.pad-y-25{
  padding-top: 25px!important;
  padding-bottom: 25px!important;
}
.pad-y-30{
  padding-top: 30px!important;
  padding-bottom: 30px!important;
}
.pad-x-0{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.pad-x-5{
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.pad-x-10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.pad-x-15{
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.pad-x-20{
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.pad-x-22{
  padding-left: 22px!important;
  padding-right: 22px!important;
}
.pad-x-24{
  padding-left: 24px!important;
  padding-right: 24px!important;
}
.pad-x-25{
  padding-left: 25px!important;
  padding-right: 20px!important;
}
.pad-x-27{
  padding-left: 27px!important;
  padding-right: 27px!important;
}
.pad-x-30{
  padding-left: 30px!important;
  padding-right: 30px!important;
}
.pad-x-40{
  padding-left: 40px!important;
  padding-right: 40px!important;
}
.pad-x-50{
  padding-left: 50px!important;
  padding-right: 50px!important;
}

.pad-t-0{
  padding-top: 0px!important;
}
.pad-t-5{
  padding-top: 5px!important;
}
.pad-t-10{
  padding-top: 10px!important;
}
.pad-t-20{
  padding-top: 20px!important;
}
.pad-t-25{
  padding-top: 25px!important;
}
.pad-r-0{
  padding-right: 0!important;
}
.pad-r-10{
  padding-right: 10px!important;
}
.pad-r-15{
  padding-right: 15px!important;
}
.pad-r-20{
  padding-right: 20px!important;
}
.pad-r-25{
  padding-right: 25px!important;
}
.pad-b-0{
  padding-bottom: 0!important;
}
.pad-b-10{
  padding-bottom: 10px!important;
}
.pad-b-15{
  padding-bottom: 15px!important;
}
.pad-b-20{
  padding-bottom: 20px!important;
}
.pad-b-25{
  padding-bottom: 25px!important;
}
.pad-l-0{
  padding-left: 0!important;
}
.pad-l-10{
  padding-left: 10px!important;
}
.pad-l-15{
  padding-left: 15px!important;
}
.pad-l-20{
  padding-left: 20px!important;
}
.pad-l-25{
  padding-left: 25px!important;
}

/*
  Border
*/
.border-l-1{
  border-left: 1px solid;
}
.border-b-gray{
  border-bottom: 1px solid darkgray!important;
}
.border-rad-2{
  border-radius: 2px!important; 
}
.border-rad-5{
  border-radius: 5px!important; 
}
.border-rad-10{
  border-radius: 10px!important; 
}
.border-rad-50p{
  border-radius: 50%!important; 
}
.border-b-hr-2{
  border-bottom:2px solid #e7e7e7!important;
  box-shadow: 0px 2px 0px gray;
}
/*
  Margin
*/
.mar-0{
  margin:0;
}
.mar-0-auto{
  margin:0 auto;
}
.mar-10{
  margin: 10px!important;
}
.mar-y-0{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
.mar-y-5{
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
.mar-y-10{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
.mar-y-15{
  margin-top: 15px!important;
  margin-bottom: 15px!important;
}
.mar-y-20{
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}

.mar-x-0{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.mar-x-5{
  margin-left: 5px!important;
  margin-right: 5px!important;
}
.mar-x-10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.mar-t-13{
    margin-top: 13px;
}
.mar-t-0{
  margin-top: 0px!important;
}
.mar-t-10{
  margin-top: 10px!important;
}
.mar-t-15{
  margin-top: 15px!important;
}
.margin-l-18{
    margin-left: -18px!important;
}
.mar-t-20{
  margin-top: 20px!important;
}
.mar-t-25{
  margin-top: 25px!important;
}
.mar-t-30{
  margin-top: 30px!important;
}
.mar-t-35{
  margin-top: 35px!important;
}
.mar-t-40{
  margin-top: 40px!important;
}
.mar-b-0{
  margin-bottom: 0px!important;
}
.mar-b-10{
  margin-bottom: 10px!important;
}
.mar-b-15{
  margin-bottom: 15px!important;
}
.mar-b-20{
  margin-bottom: 20px!important;
}
.mar-b-25{
  margin-bottom: 25px!important;
}
.mar-b-30{
  margin-bottom: 30px!important;
}
.mar-r-0{
  margin-right: 0px!important
}
.mar-r-5{
  margin-right: 5px!important
}
.mar-r-10{
  margin-right: 10px!important
}
.mar-r-15{
  margin-right: 15px!important
}
.mar-r-20{
  margin-right: 20px!important
}
.mar-r-25{
  margin-right: 25px!important
}
.mar-r-30{
  margin-right: 30px!important
}
.mar-r-35{
  margin-right: 35px!important
}
.mar-r-40{
  margin-right: 40px!important
}
.mar-r-45{
  margin-right: 45px!important
}
.mar-r-50{
  margin-right: 50px!important
}
.mar-r-55{
  margin-right: 55px!important
}
.mar-r-60{
  margin-right: 60px!important
}
.mar-r-75{
  margin-right: 75px!important
}


.mar-neg-3{
  margin: -3px!important;
}
.mar-neg-5{
  margin: -5px!important;
}
.mar-neg-10{
  margin: -10px!important;
}
.mar-neg-x-5{
  margin-left: -5px!important;
  margin-right: -5px!important;
}
.mar-neg-x-10{
  margin-left: -10px!important;
  margin-right: -10px!important;
}
.mar-neg-x-15{
  margin-left: -15px!important;
  margin-right: -15px!important;
}
.mar-neg-x-20{
  margin-left: -20px!important;
  margin-right: -20px!important;
}
.mar-neg-x-25{
  margin-left: -25px!important;
  margin-right: -25px!important;
}
.mar-neg-x-30{
  margin-left: -30px!important;
  margin-right: -30px!important;
}
.mar-neg-t-5{
  margin-top: -5px!important;
}
.mar-neg-t-10{
  margin-top: -10px!important;
}
.mar-neg-t-15{
  margin-top: -15px!important;
}
.mar-neg-t-20{
  margin-top: -20px!important;
}
.mar-neg-t-25{
  margin-top: -25px!important;
}
.mar-neg-t-50{
  margin-top: -50px!important;
}
.mar-neg-t-60{
  margin-top: -60px!important;
}

.mar-neg-r-5{
  margin-right: -5px!important;
}
.mar-neg-r-10{
  margin-right: -10px!important;
}
.mar-neg-r-15{
  margin-right: -15px!important;
}
.mar-neg-l-20{
  margin-left: -20px!important;
}
.mar-neg-r-25{
  margin-right: -25px!important;
}
.mar-neg-r-30{
  margin-right: -30px!important;
}

.mar-neg-b-5{
  margin-bottom: -5px!important;
}
.mar-neg-b-10{
  margin-bottom: -10px!important;
}
.mar-neg-b-15{
  margin-bottom: -15px!important;
}
.mar-neg-b-20{
  margin-bottom: -20px!important;
}
.mar-neg-b-25{
  margin-bottom: -25px!important;
}

.mar-neg-l-5{
  margin-left: -5px!important;
}
.mar-neg-l-10{
  margin-left: -10px!important;
}
.mar-neg-l-15{
  margin-left: -15px!important;
}
.mar-neg-l-20{
  margin-left: -20px!important;
}
.mar-neg-l-25{
  margin-left: -25px!important;
}
/*
  Position
*/
.p-rel{
  position: relative!important;
}
.p-ab{
  position: absolute!important;
}
.p-fx{
  position: absolute;
}


/*
  Line Height
*/
.l-height-10{
  line-height: 10px!important;
}
.l-height-15{
  line-height: 15px!important;
}
.l-height-20{
  line-height: 20px!important;
}
.l-height-25{
  line-height: 25px!important;
}
.l-height-30{
  line-height: 30px!important;
}
.l-height-35{
  line-height: 35px!important;
}
.l-height-40{
  line-height: 40px!important;
}
/*
  Height
*/

.min-height-66{
  height: 66px!important;
}
.min-height-300{
  min-height: 300px!important;
}
.min-height-350{
  min-height: 350px!important;
}
.min-height-400{
  min-height: 400px!important;
}
.minh-60{
  min-height: 60px!important;
}
.minh-85{
  min-height: 85px!important;
}
.minh-90{
  min-height: 90px!important;
}
.minh-100{
  min-height: 100px!important;
}
.minh-125{
  min-height: 125px!important;
}
.minh-140{
  min-height: 140px!important;
}
.minh-300{
  min-height: 300px!important;
}
.minh-350{
  min-height: 350px!important;
}
.minh-400{
  min-height: 400px!important;
}
.minh-450{
  min-height: 450px!important;
}
.minh-500{
  min-height: 500px!important;
}
.minh-550{
  min-height: 550px!important;
}

.h-auto{
  height: auto!important;
}

/*
  Background
*/
.bg-blue-default{
  background-color: #115c80!important;
}



/* 
  -lg indux starts here
  1200 & Above
*/
@media (min-width: 1200px){
  /* Margin */
  .mar-x-lg-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-x-lg-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-x-lg-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-x-lg-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-x-lg-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-x-lg-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-y-lg-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-y-lg-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-y-lg-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-y-lg-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-y-lg-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-y-lg-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-r-lg-0{
    margin-right: 0px!important;
  }
  .mar-r-lg-5{
    margin-right: 5px!important;
  }
  .mar-r-lg-10{
    margin-right: 10px!important;
  }
  .mar-r-lg-15{
    margin-right: 15px!important;
  }
  .mar-r-lg-20{
    margin-right: 20px!important;
  }
  .mar-r-lg-25{
    margin-right: 25px!important;
  }
  .mar-r-lg-30{
    margin-right: 30px!important;
  }
  .mar-r-lg-35{
    margin-right: 35px!important;
  }
  /* Padding */
  .pad-y-lg-0{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .pad-y-lg-5{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
  }
  .pad-y-lg-10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }
  .pad-y-lg-15{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .pad-y-lg-20{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
  .pad-y-lg-22{
    padding-top: 22px!important;
    padding-bottom: 22px!important;
  }
  .pad-y-lg-25{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
  }
  .pad-y-lg-30{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
  }
  .pad-y-lg-35{
    padding-top: 35px!important;
    padding-bottom: 35px!important;
  }
  .pad-x-lg-0{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .pad-x-lg-5{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .pad-x-lg-10{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .pad-x-lg-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .pad-x-lg-20{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .pad-x-lg-22{
    padding-left: 22px!important;
    padding-right: 22px!important;
  }
  .pad-x-lg-25{
    padding-left: 25px!important;
    padding-right: 25px!important;
  }
  .pad-x-lg-30{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
  .pad-x-lg-35{
    padding-left: 35px!important;
    padding-right: 35px!important;
  }
  .pad-t-lg-0{
    padding-top: 0px!important;
  }
  .pad-t-lg-5{
    padding-top: 5px!important;
  }
  .pad-t-lg-15{
    padding-top: 15px!important;
  }
  .pad-t-lg-20{
    padding-top: 20px!important;
  }
  .pad-t-lg-22{
    padding-top: 22px!important;
  }
  .pad-t-lg-25{
    padding-top: 25px!important;
  }
  .pad-t-lg-30{
    padding-top: 30px!important;
  }
  .pad-t-lg-35{
    padding-top: 35px!important;
  }
  .pad-r-lg-0{
    padding-right: 0px!important;
  }
  .pad-r-lg-5{
    padding-right: 5px!important;
  }
  .pad-r-lg-15{
    padding-right: 15px!important;
  }
  .pad-r-lg-20{
    padding-right: 20px!important;
  }
  .pad-r-lg-22{
    padding-right: 22px!important;
  }
  .pad-r-lg-25{
    padding-right: 25px!important;
  }
  .pad-b-lg-0{
    padding-bottom: 0px!important;
  }
  .pad-b-lg-5{
    padding-bottom: 5px!important;
  }
  .pad-b-lg-15{
    padding-bottom: 15px!important;
  }
  .pad-b-lg-20{
    padding-bottom: 20px!important;
  }
  .pad-b-lg-22{
    padding-bottom: 22px!important;
  }
  .pad-b-lg-25{
    padding-bottom: 25px!important;
  }
  .pad-b-lg-35{
    padding-bottom: 35px!important;
  }
  .pad-l-lg-0{
    padding-left: 0px!important;
  }
  .pad-l-lg-5{
    padding-left: 5px!important;
  }
  .pad-l-lg-15{
    padding-left: 15px!important;
  }
  .pad-l-lg-20{
    padding-left: 20px!important;
  }
  .pad-l-lg-22{
   padding-left: 22px!important;
  }
   .pad-l-lg-25{
    padding-left: 25px!important;
  }
  .pad-l-lg-30{
   padding-left: 30px!important;
  }
  .pad-l-lg-35{
    padding-left: 35px!important;
  }
  /* Text Align -md */
  .pad-lg-left{
    text-align: left!important;
  }
  .pad-lg-center{
    text-align: center!important;
  }
  .pad-lg-right{
    text-align: right!important;
  }

}

/*
  1199 & Below and 992 Above
*/
@media (max-width: 1199px) and (min-width: 992px){

  /* Margin */
  .mar-x-md-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-x-md-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-x-md-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-x-md-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-x-md-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-x-md-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-y-md-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-y-md-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-y-md-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-y-md-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-y-md-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-y-md-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-r-md-0{
    margin-right: 0px!important;
  }
  .mar-r-md-5{
    margin-right: 5px!important;
  }
  .mar-r-md-10{
    margin-right: 10px!important;
  }
  .mar-r-md-15{
    margin-right: 15px!important;
  }
  .mar-r-md-20{
    margin-right: 20px!important;
  }
  .mar-r-md-25{
    margin-right: 25px!important;
  }
  .mar-r-md-30{
    margin-right: 30px!important;
  }
  .mar-r-md-35{
    margin-right: 35px!important;
  }
  /* Padding */
  .pad-y-md-0{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .pad-y-md-0{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .pad-y-md-5{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
  }
  .pad-y-md-10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }
  .pad-y-md-15{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .pad-y-md-20{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
  .pad-y-md-22{
    padding-top: 22px!important;
    padding-bottom: 22px!important;
  }
  .pad-y-md-25{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
  }
  .pad-y-md-30{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
  }
  .pad-y-md-35{
    padding-top: 35px!important;
    padding-bottom: 35px!important;
  }
  .pad-x-md-0{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .pad-x-md-5{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .pad-x-md-10{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .pad-x-md-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .pad-x-md-20{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .pad-x-md-22{
    padding-left: 22px!important;
    padding-right: 22px!important;
  }
  .pad-x-md-25{
    padding-left: 25px!important;
    padding-right: 25px!important;
  }
  .pad-x-md-30{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
  .pad-x-md-35{
    padding-left: 35px!important;
    padding-right: 35px!important;
  }
  .pad-t-md-0{
    padding-top: 0px!important;
  }
  .pad-t-md-5{
    padding-top: 5px!important;
  }
  .pad-t-md-15{
    padding-top: 15px!important;
  }
  .pad-t-md-20{
    padding-top: 20px!important;
  }
  .pad-t-md-22{
    padding-top: 22px!important;
  }
  .pad-t-md-25{
    padding-top: 25px!important;
  }
  .pad-t-md-30{
    padding-top: 30px!important;
  }
  .pad-t-md-35{
    padding-top: 35px!important;
  }
  .pad-r-md-0{
    padding-right: 0px!important;
  }
  .pad-r-md-5{
    padding-right: 5px!important;
  }
  .pad-r-md-15{
    padding-right: 15px!important;
  }
  .pad-r-md-20{
    padding-right: 20px!important;
  }
  .pad-r-md-22{
    padding-right: 22px!important;
  }
  .pad-r-md-25{
    padding-right: 25px!important;
  }
  .pad-b-md-0{
    padding-bottom: 0px!important;
  }
  .pad-b-md-5{
    padding-bottom: 5px!important;
  }
  .pad-b-md-15{
    padding-bottom: 15px!important;
  }
  .pad-b-md-20{
    padding-bottom: 20px!important;
  }
  .pad-b-md-22{
    padding-bottom: 22px!important;
  }
  .pad-b-md-25{
    padding-bottom: 25px!important;
  }
  .pad-b-md-35{
    padding-bottom: 35px!important;
  }
  .pad-l-md-0{
    padding-left: 0px!important;
  }
  .pad-l-md-5{
    padding-left: 5px!important;
  }
  .pad-l-md-15{
    padding-left: 15px!important;
  }
  .pad-l-md-20{
    padding-left: 20px!important;
  }
  .pad-l-md-22{
   padding-left: 22px!important;
  }
   .pad-l-md-25{
    padding-left: 25px!important;
  }
  .pad-l-md-30{
   padding-left: 30px!important;
  }
   .pad-l-md-35{
    padding-left: 35px!important;
  }

  /* Text Align -md */
  .pad-md-left{
    text-align: left!important;
  }
  .pad-md-center{
    text-align: center!important;
  }
  .pad-md-right{
    text-align: right!important;
  }
}


/*
  -sm- infix Classe Starts Here
*/

@media screen and (min-width: 992px){

}

@media screen and (max-width: 992px){
  /* Margin */
  .mar-x-sm-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-x-sm-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-x-sm-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-x-sm-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-x-sm-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-x-sm-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-y-sm-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-y-sm-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-y-sm-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-y-sm-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-y-sm-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-y-sm-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-t-sm-0{
    margin-right: 0px!important;
  }
  .mar-t-sm-5{
    margin-right: 5px!important;
  }
  .mar-t-sm-10{
    margin-right: 10px!important;
  }
  .mar-t-sm-15{
    margin-right: 15px!important;
  }
  .mar-t-sm-20{
    margin-right: 20px!important;
  }
  .mar-t-sm-25{
    margin-right: 25px!important;
  }
  .mar-r-sm-0{
    margin-right: 0px!important;
  }
  .mar-r-sm-5{
    margin-right: 5px!important;
  }
  .mar-r-sm-10{
    margin-right: 10px!important;
  }
  .mar-r-sm-15{
    margin-right: 15px!important;
  }
  .mar-r-sm-20{
    margin-right: 20px!important;
  }
  .mar-r-sm-25{
    margin-right: 25px!important;
  }
  .mar-b-sm-0{
    margin-right: 0px!important;
  }
  .mar-b-sm-5{
    margin-right: 5px!important;
  }
  .mar-b-sm-10{
    margin-right: 10px!important;
  }
  .mar-b-sm-15{
    margin-right: 15px!important;
  }
  .mar-b-sm-20{
    margin-right: 20px!important;
  }
  .mar-b-sm-25{
    margin-right: 25px!important;
  }
  .mar-l-sm-0{
    margin-right: 0px!important;
  }
  .mar-l-sm-5{
    margin-right: 5px!important;
  }
  .mar-l-sm-10{
    margin-right: 10px!important;
  }
  .mar-l-sm-15{
    margin-right: 15px!important;
  }
  .mar-l-sm-20{
    margin-right: 20px!important;
  }
  .mar-l-sm-25{
    margin-right: 25px!important;
  }

  /* Padding */
  .pad-y-sm-0{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .pad-y-sm-0{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .pad-y-sm-5{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
  }
  .pad-y-sm-10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }
  .pad-y-sm-15{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .pad-y-sm-20{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
  .pad-y-sm-25{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
  }
  .pad-y-sm-30{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
  }
  .pad-y-sm-35{
    padding-top: 35px!important;
    padding-bottom: 35px!important;
  }
  .pad-x-sm-0{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .pad-x-sm-5{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .pad-x-sm-10{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .pad-x-sm-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .pad-x-sm-20{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .pad-x-sm-25{
    padding-left: 25px!important;
    padding-right: 25px!important;
  }
  .pad-x-sm-30{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
  .pad-x-sm-35{
    padding-left: 35px!important;
    padding-right: 35px!important;
  }
  .pad-t-sm-0{
    padding-top: 0px!important;
  }
  .pad-t-sm-5{
    padding-top: 5px!important;
  }
  .pad-t-sm-15{
    padding-top: 15px!important;
  }
  .pad-t-sm-20{
    padding-top: 20px!important;
  }
  .pad-r-sm-0{
    padding-right: 0px!important;
  }
  .pad-r-sm-5{
    padding-right: 5px!important;
  }
  .pad-r-sm-15{
    padding-right: 15px!important;
  }
  .pad-r-sm-20{
    padding-right: 20px!important;
  }
  .pad-b-sm-0{
    padding-bottom: 0px!important;
  }
  .pad-b-sm-5{
    padding-bottom: 5px!important;
  }
  .pad-b-sm-15{
    padding-bottom: 15px!important;
  }
  .pad-b-sm-20{
    padding-bottom: 20px!important;
  }
  .pad-l-sm-0{
    padding-left: 0px!important;
  }
  .pad-l-sm-5{
    padding-left: 5px!important;
  }
  .pad-l-sm-15{
    padding-left: 15px!important;
  }
  .pad-l-sm-20{
    padding-left: 20px!important;
  }
  
  /* Text Align */
  .text-center-sm{
    text-align: center;
  }
  .text-left-sm{
    text-align: left;
  }
  .text-right-sm{
    text-align: right;
  }

}

/*
  -sm Classes Starts Here
*/

@media screen and (max-width: 991px){
    
}

/*
  964 & Above
*/
@media screen and (max-width: 964px){

}

/*
  823 & Above
*/
@media screen and (max-width: 823px){

}


/* 
  xs- Classes
  769 & Above
*/
@media screen and (min-width: 768px){

}
/*
  768 & Below
*/
@media screen and (max-width: 768px){

}

/*
  767 & Below
*/
@media screen and (max-width: 767px){
  /* Margin */
  .mar-x-xs-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-x-xs-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-x-xs-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-x-xs-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-x-xs-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-x-xs-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-y-xs-0{
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .mar-y-xs-5{
    margin-left: 5px!important;
    margin-right: 5px!important;
  }
  .mar-y-xs-10{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  .mar-y-xs-15{
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
  .mar-y-xs-20{
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
  .mar-y-xs-25{
    margin-left: 25px!important;
    margin-right: 25px!important;
  }
  .mar-t-xs-0{
    margin-right: 0px!important;
  }
  .mar-t-xs-5{
    margin-right: 5px!important;
  }
  .mar-t-xs-10{
    margin-right: 10px!important;
  }
  .mar-t-xs-15{
    margin-right: 15px!important;
  }
  .mar-t-xs-20{
    margin-right: 20px!important;
  }
  .mar-t-xs-25{
    margin-right: 25px!important;
  }
  .mar-r-xs-0{
    margin-right: 0px!important;
  }
  .mar-r-xs-5{
    margin-right: 5px!important;
  }
  .mar-r-xs-10{
    margin-right: 10px!important;
  }
  .mar-r-xs-15{
    margin-right: 15px!important;
  }
  .mar-r-xs-20{
    margin-right: 20px!important;
  }
  .mar-r-xs-25{
    margin-right: 25px!important;
  }
  .mar-b-xs-0{
    margin-right: 0px!important;
  }
  .mar-b-xs-5{
    margin-right: 5px!important;
  }
  .mar-b-xs-10{
    margin-right: 10px!important;
  }
  .mar-b-xs-15{
    margin-right: 15px!important;
  }
  .mar-b-xs-20{
    margin-right: 20px!important;
  }
  .mar-b-xs-25{
    margin-right: 25px!important;
  }
  .mar-l-xs-0{
    margin-right: 0px!important;
  }
  .mar-l-xs-5{
    margin-right: 5px!important;
  }
  .mar-l-xs-10{
    margin-right: 10px!important;
  }
  .mar-l-xs-15{
    margin-right: 15px!important;
  }
  .mar-l-xs-20{
    margin-right: 20px!important;
  }
  .mar-l-xs-25{
    margin-right: 25px!important;
  }

  /* Padding */
  .pad-y-xs-0{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .pad-y-xs-5{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
  }
  .pad-y-xs-10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }
  .pad-y-xs-15{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .pad-y-xs-20{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
  .pad-y-xs-25{
    padding-top: 25px!important;
    padding-bottom: 25px!important;
  }
  .pad-x-xs-0{
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .pad-x-xs-5{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .pad-x-xs-10{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .pad-x-xs-15{
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .pad-x-xs-20{
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
  .pad-x-xs-25{
    padding-left: 25px!important;
    padding-right: 25px!important;
  }
  .pad-x-xs-30{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
  .pad-x-xs-35{
    padding-left: 35px!important;
    padding-right: 35px!important;
  }
  .pad-t-xs-0{
    padding-top: 0px!important;
  }
  .pad-t-xs-5{
    padding-top: 5px!important;
  }
  .pad-t-xs-15{
    padding-top: 15px!important;
  }
  .pad-t-xs-20{
    padding-top: 20px!important;
  }
  .pad-r-xs-0{
    padding-right: 0px!important;
  }
  .pad-r-xs-5{
    padding-right: 5px!important;
  }
  .pad-r-xs-15{
    padding-right: 15px!important;
  }
  .pad-r-xs-20{
    padding-right: 20px!important;
  }
  .pad-b-xs-0{
    padding-bottom: 0px!important;
  }
  .pad-b-xs-5{
    padding-bottom: 5px!important;
  }
  .pad-b-xs-15{
    padding-bottom: 15px!important;
  }
  .pad-b-xs-20{
    padding-bottom: 20px!important;
  }
  .pad-l-xs-0{
    padding-left: 0px!important;
  }
  .pad-l-xs-5{
    padding-left: 5px!important;
  }
  .pad-l-xs-15{
    padding-left: 15px!important;
  }
  .pad-l-xs-20{
    padding-left: 20px!important;
  }
 
  /* Text Align */
  .text-center-sm{
    text-align: center;
  }
  .text-left-sm{
    text-align: left;
  }
  .text-right-sm{
    text-align: right;
  }
}


/*
  676px & Below
  -xs Classes Starts Here
*/
@media screen and (max-width: 676px){

}

/*
  524px & Below
*/
@media screen and (max-width: 524px){

}

/*
  483px & Below
*/
@media screen and (max-width: 483px){

}

/*
  482 & below
*/

@media screen and (max-width: 482px){
 
}

/*
  480px & Below
*/
@media screen and (max-width: 480px){

}

/*
  477 & below
*/

@media screen and (max-width: 477px){

}

/*
  465px & Below
*/
@media screen and (max-width: 465px){

}




/*
  454 & Below
*/
@media screen and (max-width: 454px){

}

/*
  445 & Below
*/
@media screen and (max-width: 445px){

}

/*
  440 & Below
*/
@media screen and (max-width: 440px){

}

/*
  410 & Below
*/
@media screen and (max-width: 410px){

}

/*
  400px & Below
*/
@media screen and (max-width: 400px){

}


/*
  400px & Below
*/
@media screen and (max-width: 400px){

}

/*
  381 & Below
*/
@media screen and (max-width: 381px){

}

/*
  365 & Below
*/
@media screen and (max-width: 365px){

}

/*
  355 & Below
*/
@media screen and (max-width: 355px){

}

/*
  345 & Below
*/
@media screen and (max-width: 345px){

}

/*
  335 & Below
*/
@media screen and (max-width: 335px){

}

/*
  330 & Below
*/
@media screen and (max-width: 330px){

}

/*
  325 & Below
*/
@media screen and (max-width: 325px){

}

